body {
  font-size: 14px;
  line-height: 24px;
  color: #000;
  font-weight: bold;
  font-family: "PT Sans Narrow", Arial, sans-serif; /* Как узнать наверняка, какие шрифты наиболее подходящие для подмены в случае отсутствия */

  text-transform: uppercase;; /* Большие буквы везде */
}

.index-content-title, .page-header {
  font-size: 30px;
  line-height: 42px;
  /* Остальное наследуется от body */
}

.description > h2, .filters h2 {
  font-size: 24px;
  line-height: 30px;
  /* Остальное наследуется от body */
}
